$bp-up-base: 0;
$bp-up-xs: 576px;
$bp-up-sm: 768px;
$bp-up-md: 992px;
$bp-up-lg: 1200px;
$bp-up-xl: 1355px;
$bp-up-xxl: 1550px;
$bp-down-xs: 575.98px;
$bp-down-sm: 767.98px;
$bp-down-md: 991.98px;
$bp-down-lg: 1199.98px;
$bp-down-xl: 1354.98px;
$bp-down-xxl: 1549.98px;
