@use "../mixins/appearance" as *;

.c-appearance-icon {
  display: none;
}

@include appearance-os() {
  .c-appearance-icon--os {
    display: block;
  }
}

@include appearance-light() {
  .c-appearance-icon--light {
    display: block;
  }
}

@include appearance-dark() {
  .c-appearance-icon--dark {
    display: block;
  }
}
