@use "../mixins/reset-list-style" as *;

.c-settings {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  &__list {
    @include reset-list-style();
    word-break: keep-all;
  }

  &__list-item {
    padding: 0.25rem;
  }
}
