@use "../mixins/hoverable" as *;

.l-container {
  line-height: 1.8;

  > section {
    margin: 1.5rem 0;
  }

  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  a {
    display: inline-flex;
    align-items: center;
    color: var(--theme-color-link);
    text-decoration: none;

    @include hoverable() {
      &:hover {
        text-decoration: underline;
      }
    }

    > svg {
      width: 1rem;
      height: 1rem;
    }
  }
}
