@use "../variables" as *;
@use "../mixins/breakpoint" as *;
@use "../mixins/is-open-sidebar" as *;

.l-page {
  display: flex;

  &__region-sidebar {
    width: var(--theme-width-region-sidebar);

    @include bp-down($bp-down-md) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: calc(var(--theme-width-region-sidebar) * -1);
      overflow-x: hidden;
      transition: left var(--theme-transition-function) var(--theme-traisition-duration);
    }

    @include bp-up($bp-up-md) {
      flex-shrink: 0;
    }
  }

  &__region-sidebar-inner {
    width: var(--theme-width-region-sidebar);
    height: 100%;
    overflow-y: auto;
    background-color: var(--theme-color-sidebar-bg);
    border-right: 1px solid var(--theme-color-border);

    @include bp-up($bp-up-md) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: var(--theme-depth-layer-sidebar);
    }
  }

  &__region-toolbar,
  &__region-content {
    width: 100%;

    @include bp-up($bp-up-md) {
      width: calc(100% - var(--theme-width-region-sidebar));
    }
  }

  &__region-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    z-index: var(--theme-depth-layer-toolbar);
    height: var(--theme-height-region-toolbar);
    background-color: var(--theme-color-toolbar-bg);
    backdrop-filter: blur(1rem);
    border-bottom: 1px solid var(--theme-color-border);
  }

  &__region-content {
    padding-top: calc(var(--theme-height-region-toolbar) + 2rem);
  }

  &__region-content-inner {
    width: 100%;
    max-width: var(--theme-max-width-region-content-inner);
    padding: 0 0.75rem;
    margin: 0 auto;

    @include bp-up($bp-up-md) {
      padding: {
        right: 1.5rem;
        left: 1.5rem;
      }
    }
  }

  &__region-header {
    margin-bottom: 2rem;
  }

  &__region-footer {
    margin: 2rem 0;
  }
}

@include is-open-sidebar() {
  .l-page {
    &__region-sidebar {
      @include bp-down($bp-down-md) {
        left: 0;
        z-index: var(--theme-depth-layer-sidebar);
      }
    }
  }
}
