@use "../variables" as *;
@use "../mixins/breakpoint" as *;

.l-toolbar {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.5rem;

  &__block-left {
    display: block;

    @include bp-up($bp-up-md) {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  }

  &__block-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
